doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dnine - Error(404)
  body
    // <img src="./images/img1.png" alt="  ">
    .container
      h1 Error(404):
      h3 Try :
      p
        | Reconnecting to site error ocured rechek web request you send
      li Go back to the home page
      |  
      li
        a(href='/home.html') https://Dnine.com
      p
    style.
      :root{
      ---subcolor:rgb(28, 81, 105);
      ---maincolor:rgb(82, 203, 198);
      }
      body{
      background-image: url('../static/images/img1.png');
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-position: center;
      background-size: 170vh;
      background-position: 50% 0px;
      /* background-image: none; */
      /* z-index: -1; */
      /* opacity: 0.3; */
      background-color: rgb(1, 31, 71);
      overflow-wrap: break-word;
      /* -moz-backface-visibility: 0.23; */
      }
      .container{
      /* z-index: 1; */
      color: rgb(255, 255, 255);
      /* opacity: 0.9!important; */
      letter-spacing: 2px;
      margin-top: 15em;
      padding-left: 10px;
      min-width: 10px;
      font-size: 1em;
      font-weight: 900;
      font-style: normal;
      /* fill-opacity: 1; */
      }
      a{
      color: azure;
      }